@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(225, 100%, 94%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
  font-size: 16px;
}
h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 20px;
}
.container {
  max-width: 300px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.card {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 12px;
}
.img-card {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  height: 50%;
}
.img-card img {
  width: 100%;
  height: 100%;
}
.info-box {
  padding: 20px;
}
.order-box {
  padding: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.button-box button {
  background-color: hsl(245, 75%, 52%);
  max-width: 300px;
  width: 250px;
  border-radius: 8px;
  color: white;
  padding: 20px;
  font-weight: 700;
  font-size: 12px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
