@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
}

body {
  background-color: hsl(225, 100%, 94%);
  max-width: 400px;
  margin: 0 auto;
}
/* Card Styling Starts from here */

.container {
  max-width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin: 0 auto;
}

.card {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  border-radius: 12px;
}
.img-card {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.img-card img {
  width: 100%;
  height: 100%;
}
h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  font-size: 20px;
  padding-bottom: 10px;
}
.info-box p {
  color: hsl(224, 23%, 55%);
  line-height: 1.6;
}
.info-box {
  padding: 30px;
  padding-bottom: 0;
}

.price-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 12px;
}
.item-2 p {
  line-height: 0.5;
  font-size: 14px;
  color: hsl(224, 23%, 55%);
}
.item-2 h1 {
  font-size: 14px;
}
.item-3 {
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  font-weight: 800;
  font-size: 14px;
  cursor: pointer;
}

.order-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 15px;
}
.button-box button {
  background-color: hsl(245, 75%, 52%);
  max-width: 400px;
  width: 265px;
  height: 2.8rem;
  border-radius: 8px;
  box-shadow: -10px 20px 10px hsl(245, 75%, 52%, 0.1);
  cursor: pointer;
}
.button-box button p {
  font-size: 14px;
  font-weight: 900;
  color: white;
}
.button-box a {
  display: block;
  font-size: 14px;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
